<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">



    <style>
        .headerslot{
            margin-top: 100px;
        }
        .wrapper {
            width: 700px;
            margin: 0 auto;
        }
    </style>
</head>

<body>
<div class="wrapper">
    <form class="ui form headerslot field">




            </form>
        </div>

</body>
</html>